In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
advert = pd.read_csv("advertising.csv")
advert

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [9]:
corr = df["Newspaper"].corr(df["Sales"])
corr

0.22829902637616528

In [10]:
# Covariance coefficient
print(advert['TV'].cov(advert['Newspaper']))

corr = advert.corr()
print(corr['TV']['Newspaper'])
print(corr['Radio']['Newspaper'])
# OR
print(advert.TV.cov(advert.Newspaper))

# Covariance matrix
print(advert.cov())

105.91945226130643
0.05664787496505698
0.35410375076117534
105.91945226130643
                    TV       Radio   Newspaper       Sales
TV         7370.949893   69.862492  105.919452  350.390195
Radio        69.862492  220.427743  114.496979   44.635688
Newspaper   105.919452  114.496979  474.308326   25.941392
Sales       350.390195   44.635688   25.941392   27.221853