In [82]:
import numpy as np
import pandas as pd
from dateutil.parser import parse
from collections import Counter

In [45]:
# 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using the Pandas module.
s = pd.Series([1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [51]:
# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.
s = pd.Series([1,2,3,4])
print(type(s))
print(s.tolist())
print(type(s.tolist()))

<class 'pandas.core.series.Series'>
[1, 2, 3, 4]
<class 'list'>

In [54]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.  
s = pd.Series([2, 4, 6, 8, 10])
s1 = pd.Series([1, 3, 5, 7, 9])
print(s + s1)
print(s * s1)
print(s - s1)
print(s / s1)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [55]:
# 4. Write a Pandas program to compare the elements of the two Pandas Series. 

s = pd.Series([2, 4, 6, 8, 10])
s1 = pd.Series([1, 3, 5, 7, 10])
print(s==s1)
print(s<s1)
print(s>s1)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool

In [57]:
# 5. Write a Pandas program to convert a dictionary to a Pandas series.
dict = {"A": 10,"B":20,"C":30}
print(dict)
print(pd.Series(dict))

{'A': 10, 'B': 20, 'C': 30}
A    10
B    20
C    30
dtype: int64

In [61]:
# 6. Write a Pandas program to convert a NumPy array to a Pandas series.

a = np.array([10,20,30])
print(a)
s = pd.Series(a)
print(s)

[10 20 30]
0    10
1    20
2    30
dtype: int32

In [64]:
# 7. Write a Pandas program to change the data type of given a column or a Series.

s = pd.Series([100,200,300,"python",500])

#If ‘coerce’, then invalid parsing will be set as NaN.
a = pd.to_numeric(s,errors = "coerce")
print(a)

0    100.0
1    200.0
2    300.0
3      NaN
4    500.0
dtype: float64

In [69]:
# 8. Write a Pandas program to convert the first column of a DataFrame as a Series.
s = {"col1":[1,2,3,4,5],"col2":[5,6,7,8,9],"col3":[7,5,2,6]}
print(pd.Series(s))
# print first col;
print(s["col1"])

col1    [1, 2, 3, 4, 5]
col2    [5, 6, 7, 8, 9]
col3       [7, 5, 2, 6]
dtype: object
[1, 2, 3, 4, 5]

In [73]:
# 9. Write a Pandas program to convert a given Series to an array.
s = pd.Series([100,200,300,"python",500])
print(s)

print(np.array(s))

0       100
1       200
2       300
3    python
4       500
dtype: object
[100 200 300 'python' 500]

In [78]:
# 10. Write a Pandas program to convert Series of lists to one Series.

s = pd.Series([["Red","yellow"],["blue","black"],["purple","white"]])
print(s)

print(s.apply(pd.Series).stack().reset_index(drop=True))

0      [Red, yellow]
1      [blue, black]
2    [purple, white]
dtype: object
0       Red
1    yellow
2      blue
3     black
4    purple
5     white
dtype: object

In [89]:
# 11. Write a Pandas program to sort a given Series.
s = pd.Series(["100","200","900","800","python","700"])
print(s)

sort = pd.Series(s).sort_values()
print(sort)

0       100
1       200
2       900
3       800
4    python
5       700
dtype: object
0       100
1       200
5       700
3       800
2       900
4    python
dtype: object

In [94]:
# 12. Write a Pandas program to add some data to an existing Series.

new_s = pd.concat([s, pd.Series([500, "php"])])
print(new_s)

0       100
1       200
2       900
3       800
4    python
5       700
0       500
1       php
dtype: object

In [96]:
# 13. Write a Pandas program to create a subset of a given series based on value and condition.

s = pd.Series([1,2,4,5,7,8,9])
print(s)
res = s[s<5]
print(res)

0    1
1    2
2    4
3    5
4    7
5    8
6    9
dtype: int64
0    1
1    2
2    4
dtype: int64

In [99]:
# 14. Write a Pandas program to change the order of index of a given series.
s = pd.Series(data= [1,2,3,4,5], index = ["A","B","C","D","E"])
print(s)
res = s.reindex(index=["D","C","B","A"])
print(res)

A    1
B    2
C    3
D    4
E    5
dtype: int64
D    4
C    3
B    2
A    1
dtype: int64

In [105]:
# 15. create the mean and standard deviation of the data of a given Series.
s= pd.Series([1,2,5,8,9])
print(s.mean())
print(s.std())

5.0
3.5355339059327378

In [112]:
# 16. get the items of a given series not present in another given series.

s = pd.Series([0,10,5])
s1 = pd.Series([0,45,5])
print(s)
print(s1)
print(np.intersect1d(s,s1))

0     0
1    10
2     5
dtype: int64
0     0
1    45
2     5
dtype: int64
[0 5]

In [122]:
# 17. to get the items that are not common in two given series.

intersect = np.intersect1d(s,s1)
print("intersection is: ")
print(intersect)
union = pd.Series(np.union1d(s,s1))
print("union is: ")
print(union)
res = union[~union.isin(intersect)]
print(res)

intersection is:
[0 5]
union is:
0     0
1     5
2    10
3    45
dtype: int64
2    10
3    45
dtype: int64

In [132]:
# 18.compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

# generate value with seed value = 100;
s = np.random.RandomState(100)

series = pd.Series(s.normal(10,5,15))
res = np.percentile(series, q=[0,25,50,75,100])
print(res)

[ 1.25117263  8.22384244 11.27500722 12.96734912 15.76517901]

In [136]:
# 19.calculate the frequency counts of each unique value of a given series.

s = pd.Series([1,1,1,1,1,1,1,1,1,1,2,2,2,2,5,5,5,5,8,8])

print(s.value_counts())

1    10
2     4
5     4
8     2
Name: count, dtype: int64

In [139]:
# 20.display most frequent value in a given series and replace everything else as 'Other' in the series.

s = pd.Series([1,1,1,1,1,1,1,1,1,1,2,2,2,2,5,5,5,5,8,8])
s[~s.isin(s.value_counts().index[:1])] = "other"
print(s)

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10    other
11    other
12    other
13    other
14    other
15    other
16    other
17    other
18    other
19    other
dtype: object

C:\Users\Rohit\AppData\Local\Temp\ipykernel_17816\3688207944.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s[~s.isin(s.value_counts().index[:1])] = "other"

In [147]:
# find the positions of numbers that are multiples of 5 of a given series.
s = pd.Series([1,9,8,6,9,1,1,1,5])
print(s)
res = np.where(s % 5==0)
print(res)

0    1
1    9
2    8
3    6
4    9
5    1
6    1
7    1
8    5
dtype: int64
(array([8], dtype=int64),)

In [154]:
# extract items at given positions of a given series.
pos = [2,4,6]
s = pd.Series(np.random.randint(1,15,10))
print(s)
res = s.take(pos)
print(res)

0     7
1     9
2     9
3     1
4     3
5     2
6    10
7    13
8    11
9    13
dtype: int32
2     9
4     3
6    10
dtype: int32

In [160]:
# 23. get the positions of items of a given series in another given series.

s1 = pd.Series(np.random.randint(0,15,10))
s2 = pd.Series(np.random.randint(1,20,5))

m = s1.isin(s2)

pos = m.where(m).dropna().index
print(pos)

0     True
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool
Index([0, 6], dtype='int64')

In [162]:
# 24.convert the first and last character of each word to upper case in each word of a given series.
s = pd.Series(["python","java","php","c#"])
print(s)
res = s.map(lambda x:x[0].upper() + x[1:-1] + x[-1].upper())
print(res)

0    python
1      java
2       php
3        c#
dtype: object
0    PythoN
1      JavA
2       PhP
3        C#
dtype: object

In [166]:
# 25.calculate the number of characters in each word in a given series.

s = pd.Series(["python","java","c#","php"])
s.map(lambda x : len(x))

0    6
1    4
2    2
3    3
dtype: int64

In [173]:
# 26.compute difference of differences between consecutive numbers of a given series.

s = pd.Series([1,3,5,7,9,4,5,6,1])
print(s)
print(s.diff().tolist())
print(s.diff().diff().tolist())

0    1
1    3
2    5
3    7
4    9
5    4
6    5
7    6
8    1
dtype: int64
[nan, 2.0, 2.0, 2.0, 2.0, -5.0, 1.0, 1.0, -5.0]
[nan, nan, 0.0, 0.0, 0.0, -7.0, 6.0, 0.0, -6.0]

In [61]:
# 27. Write a Pandas program to convert a series of date strings to a timeseries.

dt_series = pd.Series(['28 July 2020', '16 January 2013', '29 February 2016 18:14'])

# display the series initially
print("Series of date strings:")
print(dt_series)

print("\nSeries of date strings after being converted to a timeseries:")
print(pd.to_datetime(dt_series, errors='coerce'))

# errors='coerce'==> conversion process does not halt when encountering invalid date strings, 
# and instead replaces them with NaT(Not a time) values.

Series of date strings:
0              28 July 2020
1           16 January 2013
2    29 February 2016 18:14
dtype: object

Series of date strings after being converted to a timeseries:
0   2020-07-28
1   2013-01-16
2          NaT
dtype: datetime64[ns]

In [80]:
# 28. get the day of month, day of year, week number and day of week from a given series of date strings.

s = pd.Series(["01 Dec 2023", "20180307", "10-02-2023", "2014/05/06", "2019-04-06T11:20"])
print(s)
s = s.map(lambda x: parse(x))
print(s.dt.day.tolist())
print(s.dt.dayofyear.tolist())
print(s.dt.dayofweek.tolist())

0         01 Dec 2023
1            20180307
2          10-02-2023
3          2014/05/06
4    2019-04-06T11:20
dtype: object
[1, 7, 2, 6, 6]
[335, 66, 275, 126, 96]
[4, 2, 0, 1, 5]

In [83]:
# 29.convert year-month string to dates adding a specified day of the month.
s = pd.Series(["jan 2015", "feb 2016", "mar 2027", "apr 2018","may 2019"])
res = s.map(lambda b : parse("11" + b))
print(res)

0   2015-01-11
1   2016-02-11
2   2027-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [201]:
# 30. filter words from a given series that contain at least two vowels.

s = pd.Series(['python', 'java', 'php', 'c#', 'c++'])
print("Original Series:")
print(s)
print("\nFiltered words:")
result =s.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(s[result])

Original Series:
0    python
1      java
2       php
3        c#
4       c++
dtype: object

Filtered words:
1    java
dtype: object

In [224]:
# 31. Write a Pandas program to compute the Euclidean distance between two given series.
s1 = pd.Series([1,4,7,8,9,6,5])
s2 = pd.Series([5,8,9,6,4,13,1])
print(np.linalg.norm(s1-s2))

11.40175425099138

In [84]:
# 32. find the positions of the values neighboured by smaller values on both sides in a given series.

nums = pd.Series([1,8,7,6,5,5,3,4,7,1])
temp = np.diff(np.sign(np.diff(nums)))
res = np.where(temp == -2)[0] +1
print(res)

[1 8]

In [94]:
# 33. Replace missing white spaces in a given string with the least frequent character.

str = "abs def abcdef iicd"
print(str)
#print(str)
s = pd.Series(list(str))
print(s)
counts= s.value_counts()
print(counts)
curr_freq = counts.dropna().index[-1]
res = "".join(s.replace(" ",curr_freq))
print(res)

abs def abcdef iicd
0     a
1     b
2     s
3
4     d
5     e
6     f
7
8     a
9     b
10    c
11    d
12    e
13    f
14
15    i
16    i
17    c
18    d
dtype: object
     3
d    3
a    2
b    2
e    2
f    2
c    2
i    2
s    1
Name: count, dtype: int64
abssdefsabcdefsiicd

In [96]:
# 34. Write a Pandas program to compute the autocorrelations of a given numeric series.
s = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print("Original series:")
print(s)
autocorrelations = [s.autocorr(i).round(2) for i in range(11)]
print("\nAutocorrelations of the said series:")
print(autocorrelations[1:])

Original series:
0     20.124573
1     17.309740
2     -8.738018
3     -1.455472
4      3.142887
5     19.427678
6     19.681413
7      1.341436
8      6.186579
9     11.760272
10    -3.683948
11    -4.888702
12    19.065804
13    13.358885
14     5.008774
dtype: float64

Autocorrelations of the said series:
[0.13, -0.61, -0.28, -0.05, -0.03, 0.11, 0.35, 0.5, -0.02, -0.98]

In [97]:
# 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

# 52 ==> 364 days(one year)
# freq='W-SUN' ==> weekly frequency of sundays;

result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print(result)

All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [98]:
# 36. convert given series into a dataframe with its index as another column on the dataframe.

char_list = list('ABCDEFGHIJKLMNOP')
num_arra = np.arange(8)
num_dict = dict(zip(char_list, num_arra))
num_ser = pd.Series(num_dict)
df = num_ser.to_frame().reset_index()
print(df.head())

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

In [17]:
# 37. to stack two given series vertically and horizontally.


s1 = pd.Series(range(10))
s2 = pd.Series(list("pqrstuvwxy"))
print(s1,s2)

horixontal = pd.concat([s1,s2], axis = 1)
print(horixontal)

print()
print("vertically")
verticle = pd.concat([s1,s2],axis = 0)
print(verticle)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64 0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

vertically
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

In [30]:
# 38. Write a Pandas program to check the equality of two given series.

# the length of the two series should be same;

s1 = pd.Series([1,5,6,7,9,10,8,6,7,4,2])
s2 = pd.Series([1,2,3,4,5,9,6,7,1,8,2])
print(s1)
print(s2)

print(s1==s2)

0      1
1      5
2      6
3      7
4      9
5     10
6      8
7      6
8      7
9      4
10     2
dtype: int64
0     1
1     2
2     3
3     4
4     5
5     9
6     6
7     7
8     1
9     8
10    2
dtype: int64
0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
dtype: bool

In [216]:
# 39. find the index of the first occurrence of the smallest and largest value of a given series.

s = pd.Series(np.random.randint(1,20,10))
print(s)
print(s.idxmax())
print(s.idxmin())

0     9
1     7
2     7
3     8
4    17
5     4
6     5
7    11
8     1
9     6
dtype: int32
4
8

In [7]:
# 40. check inequality over the index axis of a given dataframe and a given series.

df1 = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,85,None,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
df2 = pd.DataFrame({'W':[78,75,86,80,None],'X':[78,85,96,80,76], 'Y':[84,84,89,83,86],'Z':[86,97,96,72,83]});
print("Original DataFrames:")
print(df1)
print(df2)

print(df1.ne(df2))

Original DataFrames:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  85.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  83  72
4   NaN  86.0  86  83
      W   X   Y   Z
0  78.0  78  84  86
1  75.0  85  84  97
2  86.0  96  89  96
3  80.0  80  83  72
4   NaN  76  86  83

Check for inequality of the said dataframes:
       W      X      Y      Z
0   True  False  False  False
1  False  False   True  False
2  False   True  False  False
3  False  False  False  False
4   True   True  False  False